# Python & Virtual Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# OS and IDE junks
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
.devcontainer/

# Model Weights and Temporary Video Outputs
*.pt
*.onnx
*.engine
*.mp4
*.avi
*.mov
input_temp.mp4
raw_output.mp4
web_output.mp4
